@import 'variables.css';
@import 'mixins.css';
h1, h2, h3, h4, h5, h6, span, p, input, textarea, li, a{
    font-family: 'Roboto', sans-serif;
}
.container{

    width:100%;

    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    
    @mixin isMedium{
        width:$container-width;
        padding:1rem;
    }
}
.menuPaddingFix{

    margin:1rem;

    @mixin isMedium{
        margin:0;
        margin-top:2rem;
    }
}
.img{
    width:100%;
}
.smallPadding{
    padding:1rem;
}
.smallMargin{
    margin:1rem;
}
.img-rounded{
    border-radius:100rem;
}
.leftPadding{
    padding-left:1rem;
    @mixin isMedium{
        padding-left:0rem;
    }
}
.rightPadding{
    padding-right:1rem;
    @mixin isMedium{
        padding-right:0rem;
    }
}
.img-border-green{
  
    border:1px solid $border-green;
}
.no-text-deco{
    text-decoration: none;
}
.topDeskMargin{
    margin-top:5rem;
    @mixin isMedium{
        margin-top:8rem;
    }
}
p{
    //margin-top:0.5rem;
    line-height: 1.6rem;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color:#3cb218;
}
ul{
    list-style-type: disc;
    margin-left:1.8rem;
    li{
        line-height:2.2rem;
        font-size: 1.2rem;
    }
}