h1, h2{
    font-family: 'Anton', sans-serif;
    font-size:4rem;
    text-align:center;
    line-height: 140%;
    @mixin isMedium{
        font-size:6rem;
    }
}
h2{
    font-size:2rem;
    @mixin isMedium{
        font-size:3rem;
    }
}
.img-myface{
    width:250px;
}
