@import 'variables.css';
@import 'common.css';
@import 'mixins.css';

.showMenuClass{
    display: block !important;
}

.top-menu{
    
   
    margin:0;
    position: fixed;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background: #fff;
    
    
    &::after{
        content: "";
        float:none;
        clear:both;
        display: block;
    }

    

    @mixin isMedium{
        background:RGBA(255,255,255,0.9);
        width:50%;
        left:50%;
        transform:translateX(-50%);
        padding:1rem;
        padding-top:0.5rem;
        padding-bottom:0.5rem;
        border-radius:1rem;
        box-shadow:0px 0px 25px #e7e7e7;
    }

    @mixin isLarge{
        background:RGBA(255,255,255,0.9);
        width:48%;
        left:50%;
        transform:translateX(-50%);
        padding:1rem;
        padding-top:0.5rem;
        padding-bottom:0.5rem;
        border-radius:1rem;
        box-shadow:0px 0px 25px #e7e7e7;
    }

    &__launcher{

        display:block;
        
        a{
            display:block;
            font-size:1.6rem;
            text-align:left;
            text-decoration:none;
            color:#fff;
            background:$border-green;
            padding:1rem 0rem 1rem 1rem;
        }

        @mixin isMedium{
            display:none;
        }

    }

    &__launcher-text{
        font-size: 1.5rem;
        padding:1rem;
        text-align: center;
    }
    
    &__menu-list{

        margin:0;
        padding:0;
        list-style-type:none;
        display: none;

        li{
            
            float:none;
            width:100%;
           
            @mixin isMedium{
                float:left;
                margin-left:2%;
                width:32%;
                text-align:center;
            }

            
            a{
                display:block;
                text-decoration:none;
                padding:1rem;
                font-size:1.125rem;
                color:$text-gray;
                border-bottom:3px solid $border-green;

                transition: color 0.2s, border-bottom 0.2s;

                @mixin isMedium{
                    
                }

            }

            a:hover{
                color:$text-green;
                border-bottom:3px solid transparent;
            }

        }

        li:first-child{
            margin-left:0;
        }

        li:last-child{
            margin-right:0;
        }

        @mixin isMedium{
            float:right;
            display: inline-block;
            opacity: 1 !important;
            width:100%;
        }

    }

    &__menu-list::after{
        content: "";
        float:none;
        clear:both;
        display: block;
    }

    

}
